datafactoryincremental/pipeline/Copy_Incremental_With_Watermark.json
{
	"name": "Copy_Incremental_With_Watermark",
	"properties": {
		"activities": [
			{
				"name": "Get Server Datetime",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select datetime()"
					},
					"dataset": {
						"referenceName": "SQLServer_BradyLaptop",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy Data to Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Datetime Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 16,
					"translator": {
						"value": "@json('{\n                            \"id\": \"id\",\n                            \"datetime\": \"@variables(EndTime)\",\n                            \"value\": \"value\"\n                        }')",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "Telemetry_Blob_TimePartitioned",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ProcessedTelemetry",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Made Up Value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Server Datetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "MadeUpValue",
					"value": "Your Mom"
				}
			},
			{
				"name": "Set Datetime Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Made Up Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@activity('Get Server Datetime').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"MadeUpValue": {
				"type": "String"
			},
			"ServerTime": {
				"type": "String"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}